## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2015
## reddit Inc. All Rights Reserved.
###############################################################################

<div style="font-size: 13px;">
  <h1>What is Rebbit?</h1>
  <p>Rebbit is a Reddit clone where all karma points are converted to bits. One bit is equal to one millionth of a bitcoin.</p>
  <p>This means that you can earn money by posting content or comments. Rebbit is more of a economy while Reddit is more of a community.</p>

  <h1>What is bitcoin?</h1>
  <p><a href="https://www.coinbase.com/what-is-bitcoin">See here</a></p>

  <h1>Why did you make this?</h1>
  <p>It is an experiment to see how people use it. Bitcoin enables micro-payments, in real time, anywhere around the world. Reddit is a collection of global communities. What would happen if you mashed them up? Put another way, Reddit is the front page of the internet, and bitcoin is the currency of the internet. Rebbit is an attempt to create an economy amongst loosely formed global communities.</p>
</div>
